.animation (@name, @duration: 2.5s, @delay: 0, @ease: ease) {
    -webkit-animation: @name @duration @delay @ease;
    -moz-animation:    @name @duration @delay @ease;
    -ms-animation:     @name @duration @delay @ease;
}



/* Chrome, Safari, Opera */
@-webkit-keyframes rollDice1To2 {
    to{
        background: url(../../icons/Sprite/1-2.png) 0;
        left: 0;
    }
    from{
        background: url(../../icons/Sprite/1-2.png) -300px;
        left: 100px;
    }
}

@keyframes rollDice1To2 {
        to{
        background: url(../../icons/Sprite/1-2.png) 0;

    }
    from{
        background: url(../../icons/Sprite/1-2.png) -300px;

    }
}